@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
<head>
    <meta http-equiv='refresh' content='1; URL=https://localhost:44391/'>
    <style>
        body{
            background: #fcf8ef;
        }
    </style>
</head>
<header>
    <br /><br />
    <h3 style="text-align:center">Successfully Logged out of the Application!...</h3>
</header>